{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo API Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'echoapp/login.css' %}" />
  </head>
  <body>
    <div class="wrapper bg-white">
      <div class="h2 text-center">Echo Store API</div>
      <div class="h4 text-muted text-center pt-2">Send a Message</div>

      <form method="POST" class="pt-3">
        {% csrf_token %}
        <div class="form-group py-2">
          <div class="input-field">
            <span class="fas fa-envelope p-2"></span>
            <input
              type="text"
              id="message"
              name="message"
              placeholder="Enter your message"
              required
              class=""
            />
          </div>
        </div>

        <button type="button" id="send" class="btn btn-block text-center my-3">
          Send Message
        </button>

        <div id="status" class="text-success text-center pt-2"></div>
      </form>
    </div>

    <script>
      document.getElementById("send").addEventListener("click", () => {
        const msg = document.getElementById("message").value.trim();
        const token = localStorage.getItem("authToken");

        fetch("/echo/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Token ${token}`,
          },
          body: JSON.stringify({ content: msg }),
        }).then((response) => {
          if (response.ok) {
            document.getElementById("status").innerHTML =
              "The message is saved. <a href='/echo/'>CLICK HERE</a> to see the JSON response.";
            document.getElementById("message").value = "";
          }
        });
      });
    </script>
  </body>
</html>
