{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successful Registration</title>
    <link rel="stylesheet" href="{% static 'echoapp/registration.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Registration Successful</h1>
      <p>Echo Store API account has been created successfully.</p>
      <p>You can now log in with your credentials.</p>
      <a href="/log-in/">
        <button>Go to Login</button>
      </a>
    </div>
  </body>
</html>
